RewriteEngine On

# ถ้าเรียกไฟล์หรือโฟลเดอร์จริงอยู่แล้ว ไม่ต้อง rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ส่งทุกคำขอไปยัง backend/web
RewriteRule ^(.*)$ backend/web/$1 [L]
